.toggle-container {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
}

.toggle {
  padding: 0;
  margin: 0;
  outline: none;
  background: none;
  cursor: pointer;
  background-color: #4A4A68;
  border-radius: 9999px;
  height: 1.25rem;
  width: 2.5rem;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
  &:hover {
    background-color: #5A5A7D;
  }
  &:has(.switcher-on) {
    justify-content: right;
  }
  &:has(.switcher-off) {
    justify-content: left;
  }
}

.switcher {
  margin: 3px;
  border-radius: 9999px;
  width: 0.75rem;
  height: 0.75rem;
}
.switcher-on {
  background-color: #788EDD;
}
.switcher-off {
  background-color:#7979A0;
}
